<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi primera página Web</title>
</head>
<body>
    <h1>Esta es una página Web de ejemplo</h1>
    <p>Estamos probando el nuevo ambiente de desarrollo Python - Flask</p>

    <form action="/in_contacto" method="POST">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="telefono" placeholder="Telefono">
        <input type="text" name="email" placeholder="Email">
        <button type="submit">Guardar</button>
    </form>
</body>
</html>